/* Frame 1 */

position: absolute;
width: 868px;
height: 1131px;
left: 186px;
top: 226px;

background: #8015B3;
border-radius: 10px;


/* Pexels Photo by Magda Ehlers */

position: absolute;
width: 117px;
height: 63px;
left: 103px;
top: 19px;

background: url(.jpg), url(.jpg);
border-radius: 10px;


/* images4 1 */

position: absolute;
width: 89px;
height: 83px;
left: 14px;
top: 10px;

background: url(images4.png);
border-radius: 10px;


/* Rectangle 1 */

position: absolute;
width: 229px;
height: 227px;
left: 310px;
top: 232px;

background: url(images.png);
border-radius: 113.5px;


/* Frame 2 */

box-sizing: border-box;

position: absolute;
width: 484px;
height: 96px;
left: 192px;
top: 515px;

border: 1px solid #DBE8CB;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
border-radius: 10px;


/* Rectangle 2 */

position: absolute;
width: 484px;
height: 96px;
right: 0px;
top: 0px;

border-radius: 10px;


/* Rectangle 3 */

box-sizing: border-box;

position: absolute;
width: 344px;
height: 89px;
left: 244px;
top: 677px;

background: #F8F9F8;
opacity: 0.1;
border: 1px solid rgba(33, 39, 176, 0.1);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;


/* Username */

position: absolute;
width: 255px;
height: 39px;
left: 346px;
top: 543px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
/* identical to box height */

color: #FFFFFF;



/* ******** */

position: absolute;
width: 210px;
height: 39px;
left: 353px;
top: 698px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
/* identical to box height */

color: #FFFFFF;



/* Line 1 */

position: absolute;
width: 868.01px;
height: 0px;
left: 0px;
top: 1118px;

border: 1px solid #FFFFFF;
transform: rotate(-0.26deg);


/* Rectangle 5 */

position: absolute;
width: 868px;
height: 25px;
left: 0px;
top: 1106px;

background: #0F0E0E;


/* Rectangle 6 */

position: absolute;
width: 78px;
height: 10px;
left: 760px;
top: 19px;

background: #170707;
border-radius: 100px;


/* Rectangle 7 */

position: absolute;
width: 78px;
height: 10px;
left: 760px;
top: 41px;

background: #0F0E0E;
border-radius: 100px;


/* Rectangle 8 */

position: absolute;
width: 78px;
height: 10px;
left: 760px;
top: 63px;

background: #170707;
border-radius: 100px;


/* Pexels Photo by Magda Ehlers */

position: absolute;
width: 141px;
height: 63px;
left: 103px;
top: 19px;

background: url(.jpg), url(.jpg);
border-radius: 10px;


/* images4 2 */

position: absolute;
width: 89px;
height: 83px;
left: 14px;
top: 10px;

background: url(images4.png);
border-radius: 100px;


/* Rectangle 9 */

position: absolute;
width: 229px;
height: 227px;
left: 301px;
top: 232px;

background: url(images.png);
border-radius: 113.5px;


/* Frame 3 */

box-sizing: border-box;

position: absolute;
width: 484px;
height: 96px;
left: 192px;
top: 515px;

border: 1px solid #DBE8CB;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
border-radius: 10px;


/* Rectangle 2 */

position: absolute;
width: 484px;
height: 96px;
right: 0px;
top: 0px;

border-radius: 10px;


/* Rectangle 10 */

box-sizing: border-box;

position: absolute;
width: 344px;
height: 84px;
left: 244px;
top: 680px;

background: #F8F9F8;
opacity: 0.1;
border: 1px solid rgba(33, 39, 176, 0.1);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;


/* Rectangle 11 */

position: absolute;
width: 206px;
height: 86px;
left: 328px;
top: 834px;

background: #FFFFFF;
border-radius: 100px;


/* LOGIN */

position: absolute;
width: 112px;
height: 43px;
left: 385px;
top: 861px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 39px;

color: #170707;



/* Username */

position: absolute;
width: 255px;
height: 39px;
left: 346px;
top: 543px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
/* identical to box height */

color: #FFFFFF;



/* ******** */

position: absolute;
width: 210px;
height: 39px;
left: 353px;
top: 698px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
/* identical to box height */

color: #FFFFFF;



/* Rectangle 12 */

position: absolute;
width: 78px;
height: 10px;
left: 760px;
top: 19px;

background: #170707;
border-radius: 100px;


/* Rectangle 13 */

position: absolute;
width: 78px;
height: 10px;
left: 760px;
top: 41px;

background: #0F0E0E;
border-radius: 100px;


/* Rectangle 14 */

position: absolute;
width: 78px;
height: 10px;
left: 760px;
top: 63px;

background: #170707;
border-radius: 100px;


/* Forget Password? */

position: absolute;
width: 193px;
height: 18px;
left: 497px;
top: 779px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;

color: #FFFFFF;



/* download 1 */

position: absolute;
width: 63px;
height: 67px;
left: 594px;
top: 695px;

background: url(download.jpg);
border-radius: 100px;


/* Rectangle 15 */

position: absolute;
width: 868px;
height: 31px;
left: 0px;
top: 2537px;

background: #171616;
